body {
    padding-top: 50px;
    padding-bottom: 30px;
}

body p, li {
    font-size: 18px;
}

.nav li {
  font-size: 14px;
}

.jumbotron {
    background-image: url(../img/sketch.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: solid 0.5px #080808;
}

.blurb {
    padding: 10% 0% 0% 2%;
    color: #080808;
}

.personal-statement {
  text-align: center;
  padding-bottom: 40px;
}

.navbar-minimal {
  background-color: #fff;
}

.navbar-minimal .navbar-nav > li > a,
.nav > li > a {
  color: #080808;
}

.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
  color: #080808;
}

.navbar-minimal .navbar-nav > li > a:hover,
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  color: #fff;
  background-color: #080808;
}

.nav-pills > li:last-of-type {
  margin-top:10px;
  border-top:1px solid #080808;
  border-bottom:1px solid #080808;
}

.navbar-minimal .navbar-toggle {
  background-color: #080808;
}

.main-nav {
  font-size: 21px;
  font-weight: 300;
  line-height: 1.4;
}

.navbar-brand {
  font-size: 21px;
  font-weight: 300;
  color: #080808 !important;
}

.navbar-brand:hover {
  color: #fff !important;
  background-color: #080808 !important;
}

/* .thumbnail {
  border-color: #080808;
} */

.list-group-item .thumbnail {
  margin-bottom: 0px;
}

#design {
  border-bottom: solid 0.5px #080808;
}

.caption > h3 > a {
  color: #333;
}

a > img:hover,
.caption > h3 > a:hover {
  opacity: 0.7;
  text-decoration: none;
}

#article .col-md-3 {
  margin-top: 25px;
}

#article img {
  margin-top: 20px;
}

.image_caption {
  font-size: 85%;
  text-align: center;
  font-weight: bold;
  margin: 5px 10% 20px;
}

.after_image_paragraph {
  margin-top: 20px;
}

.img-portfolio {
  margin-top: 20px;
}

.footer {
  border-top: 1px solid #080808;
  text-align: center;
  margin-top: 40px;
}

.cv .lead {
  margin-bottom: 45px;
}
